@keyframes up {
	0% {
		bottom: 0;
    opacity: 0
	}
	5% {
		top: 100vh;

    opacity: 1
	}
	80% {
		opacity: 1;
	}
	100% {
		top: 0;
    opacity: 0;
	}
}

@keyframes wobble {
	0% {
		margin-left: 0px;
	}
	50% {
		margin-left: 15px;
	}
}

body {
  color: white;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.layer {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.background {
  background: #2b2f36;
}

.light {
  width: 200vw;
  left: -50vw;
  background: radial-gradient(ellipse at top center, rgba(255, 234, 0, 0.05) 0%, rgba(231, 56, 39, 0) 50%);
}

.bubble {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: rgb(90, 111, 131);
  border-radius: 50%;
  animation: wobble 1s ease-in-out, up 4s ease-out;
  animation-iteration-count: infinite;;
}

.section {
  width: 100vw;
}

.fish {
  background-image: url(../res/fish.svg);
  background-position: center;
  background-size: 100%;
}

.layer .fish {
  position: fixed;
}

.small {
  width: calc(100vmin / 16);
  height: calc(100vmin / 16);
}

.medium {
	width: calc(100vmin / 11);
  height: calc(100vmin / 11);
}

.big {
	width: calc(100vmin / 6);
  height: calc(100vmin / 6);
}

.huge {
  width: 150px;
  height: 150px;
}

.home {
  height: 100vh;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .fish {
  margin: auto;
}

.container .title {
  font-family: Cabana;
  font-size: 60px;
  font-weight: bold;
  margin-top: -10px;
  letter-spacing: 6px;
  text-align: center;
  width: 100%;
  color: rgba(246, 243, 225, 1);
  /*text-shadow: 4px 4px 0px rgba(0, 173, 204, 0.2);*/
}

.r-3 {
  transform: rotate(30deg);
}

.r-6 {
  transform: rotate(60deg);
}

.r-12 {
  transform: rotate(120deg);
}

.r-15 {
  transform: rotate(150deg);
}

.r-21 {
  transform: rotate(210deg);
}

.r-24 {
  transform: rotate(240deg);
}

.r-30 {
  transform: rotate(300deg);
}

.r-33 {
  transform: rotate(330deg);
}
