<!DOCTYPE html>

<div id="info">

  <div class="head background normal" style="background-image: url(res/images/bakgrund.jpg)">

    <div>

      <p class="head-title label">
        INFORMATION
      </p>

    </div>

  </div>

  <div class="content">

    <p>För åttonde året i rad hälsar vi er algotvänner, gamla som nya varmt välkomna till årets Algotfestival! I år kan vi glatt meddela att årets tema är blommor och årets djur är biet! Det tycker vi är en helt magiskt bra kombo!
    </p>
    <p>Återigen kommer vi alla att samlas i universums mysigaste trädgård för att dansa, skratta och sedan hälsa morgonen välkommen tilsammans. Som alltid strävar vi efter att alla ska ha en oförglömligt bra festival där alla får vara precis som en vill. Vi tolererar därför ingen intolerans! Hoppas att ni är lika taggade som vi är på att årets algotfestival kommer bli sommarens höjdpunkt!
    </p>
    <h1>Mat å bar</h1>
    <p>Mat och dryck kommer finnas till försäljning under hela festivalen så ingen kommer behöva gå hungrig eller turstig. I år är vårt mål att all mat som kommer serveras i största möjliga mån skall vara ekologisk samt/eller dumpstrad, allt för att vår planet ska få fortsätta att frodas en lång tid framöver. Självklart också vegansk/vegetarisk!
    </p>
    <h1>Leva å bo</h1>
    <p>Sova på festivalen gör du bäst i tält på vår mysiga camping. Ta med varma kläder och ficklampa. Blir du sugen på ett dopp finns en sjö inom gångavstånd. Tänk på att respektera trädgården och naturen runt omkring. Allt ditt skräp kan du sortera i våra fina återvinningskärl. Inga glasflaskor.
    </p>
    <h1>Hit å dit</h1>
    <p>Tänk på miljön och åk kollektivt eller samåk! Vi har begränsat antal parkeringsplatser. Närmaste busshållplats är Evja vägskäl eller Brådal ca 10 minuters promenad från området.
    </p>

  </div>

</div>
