<!DOCTYPE html>

<div id="tickets">

  <div class="head background normal" style="background-image: url(res/images/bakgrund.jpg)">

    <div>

      <p class="head-title label">
        BILJETTER
      </p>

    </div>

  </div>

  <div class="content">

    <div id="swish">
      <img id="one" src="/res/images/blomma1.png" alt="">
      <p>Förköp är inte längre möjligt men det kommer finnas ett begränsat antal biljetter kvar vid entrén!</p>
      <img id="two" src="/res/images/blomma3.png" alt="">
    </div>



  </div>

</div>
