@font-face {
  font-family: 'cabana-font';
  src: url('../res/cabana.otf');
}

/**/

@media only screen and (max-width: 700px) {
  #nav-container .desktop {
    display: none
  }
}

@media only screen and (min-width: 700px) {
  #nav-container .mobile {
    display: none
  }
}

/**/

body {
  color: white;
  margin: 0;
  width: 100%;
  height: 100vh;

}

/**/

.title {
  font-family: 'cabana-font';
  font-size: 8vmin;
  font-weight: bold;
  margin-top: -10px;
  letter-spacing: 6px;
  text-align: center;
  width: 100%;
  color: rgba(246, 243, 225, 1);
  /*text-shadow: 4px 4px 0px rgba(0, 173, 204, 0.2);*/
}

.title-small {
  font-family: 'cabana-font';
  font-size: 8vmin;
  font-weight: bold;
  margin-top: -10px;
  letter-spacing: 6px;
  text-align: center;
  width: 100%;
  color: rgba(246, 243, 225, 1);
  /*text-shadow: 4px 4px 0px rgba(0, 173, 204, 0.2);*/
}

.bubble {
  position: fixed;
  top: -20px;
  width: 10px;
  height: 10px;
  background-color: rgb(90, 111, 131);
  border-radius: 50%;
  -webkit-animation: wobble 1s ease-in-out, up 4s ease-out;
          animation: wobble 1s ease-in-out, up 4s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;;
}

.section {
  width: 100%;
}

.fish {
  background-image: url(../res/fish.svg);
  background-position: center;
  background-size: 100%;
}

.background-layer .fish {
  position: fixed;
}

.small {
  width: calc(100vmin / 16);
  height: calc(100vmin / 16);
}

.medium {
	width: calc(100vmin / 11);
  height: calc(100vmin / 11);
}

.big {
	width: calc(100vmin / 6);
  height: calc(100vmin / 6);
}

.huge {
	width: calc(100vmin / 4);
  height: calc(100vmin / 4);
}

.date {
  font-size: 5vmin !important;
  margin-top: 0 !important;
}

.light {
  background-color: #f0efe9 !important;
  color: #2d2f33 !important;
  font-weight: bold;
  -webkit-transition: 1s;
  transition: 1s
}

.bold {
  font-weight: bold !important;
}

/**/

#background {
  background: #2d2f33;
}

.background-layer {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/**/

#nav-container {
  height: 50px;
  width: 100%;
  position: fixed;
  font-family: cabana-font;
  top: 0;
  left: 0;
  background: #2d2f33;
  -webkit-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-container div {
  letter-spacing: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-name {
  padding-left: 20px;
  font-size: 24px;
}

.nav-menu {
  padding-right: 20px;
  font-size: 16px;
}

.nav-menu i {
  font-size: 24px;
}

#nav-menu-mobile {
  position: fixed;
  width: 100%;
  height: calc(100vh - 50px);
  padding-bottom: 50px;
  background: #2d2f33;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.nav-btn.mobile {
  width: 100%;
  height: 50px;
  font-size: 20px;
  vertical-align: middle;
  font-family: cabana-font;
  text-align: center;
  line-height: 50px;
  letter-spacing: 3px;
  cursor: pointer;
}

.nav-btn.mobile > div:hover {
  background: #f1f1f1;
}

/**/

#home {
  height: calc(100vh - 50px)
}

#home-container {
  margin-top: 50px;
  height: calc(100vh - 100px);
}

#home-content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#home-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

#home-content .fish {
  margin: auto;
}

/**/

#tickets {
  background-color: #2d2f33;
}

.tickets-head {
  background-color: #f0efe9;
  color: #2d2f33;
  /*border-top: 3px solid #439daf;*/
}

.tickets-head div {
  letter-spacing: 3px;
  font-family: cabana-font;
  text-align: center;
  font-size: 24px;
  padding: 30px 0;
  font-weight: bold;
}

.tickets-container {
  padding: 30px 50px;
}

.tickets-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tickets-buttons div {
  width: 90px;
  height: 30px;
  margin: 10px;
  line-height: 30px;
  text-align: center;
  color: #2d2f33;
  font-size: 14px;
  border-radius: 1px;
  background-color: #f0efe9;
}

.tickets-text {
  width: 100%;
  max-width: 600px;
  margin: 8px auto;
  text-align: center;
}

.tickets-text-drop {
  background-color: #232629;
  width: 100%;
  margin: 12px 0 8px -50px;
  padding: 30px 50px;
  text-align: center;
  box-shadow: inset  0  8px 12px -8px #1f2325, inset  0 -8px 12px -8px #1f2325;
}

.tickets-text-drop p {
  max-width: 600px;
  margin: 0 auto;
}

/**/

#space {
  height: 100px;
  background-color: #2d2f33;
}
