.r-3 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.r-6 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.r-12 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.r-15 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.r-21 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.r-24 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.r-30 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.r-33 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

@-webkit-keyframes up {
	0% {
		top: 100vh;
	}
	5% {
    opacity: 1
	}
	80% {
		opacity: 1;
	}
  90% {
    opacity: 0
  }
	100% {
		top: -20px;
    opacity: 0;
	}
}

@keyframes up {
	0% {
		top: 100vh;
	}
	5% {
    opacity: 1
	}
	80% {
		opacity: 1;
	}
  90% {
    opacity: 0
  }
	100% {
		top: -20px;
    opacity: 0;
	}
}

@-webkit-keyframes wobble {
	0% {
		margin-left: 0px;
	}
	50% {
		margin-left: 15px;
	}
}

@keyframes wobble {
	0% {
		margin-left: 0px;
	}
	50% {
		margin-left: 15px;
	}
}
