<!DOCTYPE html>

<div id="tickets">
  <div class="tickets-head">
    <div class="tickets-title">KÖPA BILJETT</div>
  </div>
  <div class="tickets-container">

    <div class="tickets-text">
      Biljett till Algotfestivalen inlusive 3-dagars stödmedlemskap i Algotföreningen kostar 300kr. Läs mer om hur du betalar:
    </div>

    <div class="tickets-buttons">
      <div ng-click="changeState(1)">
        Swish
      </div>
      <div ng-click="changeState(2)">
        Överföring
      </div>
    </div>

    <div class="tickets-text-drop" ng-if="state == 1">
      <p>
        Betalning sker via Swish. I medelandes för betalningen anger du ditt personnummer (ÅÅMMDD) samt för- och efternamn. Endast en biljett per Swish-betalning är möjlig. Om du vill Swisha åt en vän anger du i meddelandet din väns personnummer, mobiltelefonnummer samt hens för- och efternamn.

      </p>
    </div>

    <div class="tickets-text-drop" ng-if="state == 2">
      <p>
        Om du inte vill betala via Swish går det även bra att överföra direkt till kontonummer: 944 988 742-2 Clearingnummer: 8105-9, Swedbank. Ange då endast personnummer på personen biljetten gäller för!
      </p>
    </div>

    <div id="scrollme">

    </div>
  </div>
</div>
